* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .narrow-container {
  font-family: "PT Sans", sans-serif;
  max-width: 1760px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 34px;
  margin-bottom: 30px;
}

header .narrow-container .nav-link {
  font-size: 15px;
  text-decoration: none;
  color: #171717;
  margin-left: 30px;
}

header .narrow-container .nav-link:hover {
  color: #c9a96e;
}

header .narrow-container .active {
  color: #c9a96e;
}

header .narrow-container img {
  margin-left: 60px;
  width: 129px;
  height: 35px;
}

.hero {
  position: relative;
}

.hero .container {
  max-width: 1920px;
}

.hero .text-container {
  position: absolute;
  bottom: 12%;
  left: 15%;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
}

.hero .text-container p {
  font-size: 14px;
  font-weight: 400;
  line-height: 18.12px;
}

.hero .text-container p span {
  margin-left: 10px;
  margin-right: 10px;
}

.hero .text-container p .gray {
  color: #999999;
  margin-right: -3px;
}

.hero .text-container .large-text {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
}

.left-cards {
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.left-cards .card {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  width: 370px;
}

.left-cards .card:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.left-cards .card .container {
  padding: 2px 16px;
}

.left-cards .card .container img {
  max-width: 100%;
}

.left-cards .card .container h5 {
  color: #c9a96e;
  font-family: "PT Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: center;
}

.left-cards .card .container .second-text {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  color: #171717;
}

.left-cards .card .container p {
  color: #666666;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: center;
  margin-bottom: 10px;
}

.left-cards .card .container p span {
  color: #b1b1b1;
  margin-left: 5px;
  margin-right: 3px;
}

.left-cards .wide {
  grid-column: span 2;
  width: 770px;
}

.left-cards .wide .wide-text {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #666666;
}

.pagination {
  margin: 60px auto;
  width: 509px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #e5e5e5;
}

.pagination ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination ul li {
  margin-left: 25px;
  font-family: "Space Grotesk", sans-serif;
}

.pagination ul .page-text {
  font-size: 12px;
  color: #a2a2a2;
}

.pagination ul .btn {
  color: #a2a2a2;
}

.pagination ul .page-ntext {
  font-size: 12px;
  color: #171717;
}

.side-container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: ". . . . aside" ". . . . aside" ". . . . aside";
  -ms-grid-row: 1;
      grid-row-start: 1;
  gap: 20px;
}

.side-container .side-cards {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -ms-flex-line-pack: end;
      align-content: end;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 5;
  grid-area: aside;
  width: 270px;
  height: 500px;
}

.side-container .side-cards .about {
  width: 270px;
  height: 30px;
  border: 1px solid #e5e5e5;
}

.side-container .side-cards .about p {
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  color: #171717;
  font-weight: 400;
}

.catalogs {
  margin-top: 80px;
}

.catalogs .catalog-header {
  margin-bottom: 39px;
}

.catalogs .catalog-header h5 {
  font-size: 24px;
  font-weight: 400;
  font-family: "PT Sans", sans-serif;
  line-height: 31.8px;
  text-align: center;
}

.catalogs .catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}
/*# sourceMappingURL=main.css.map */